@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
      body {
        background-color: #f9f9f9;
        font-family: "Inter", sans-serif;
      }
      .form-control:focus {
        outline: none;
        border: 1px solid black;
        box-shadow: none;
      }
      #cart-table .table th,
      #cart-table .table td {
        vertical-align: middle;
        text-align: center;
      }
      .btn-dark {
        border-radius: 50px;
        padding: 10px 20px;
        background-color: #2f2f2f;
        color: #fff;
      }
      .btn-dark:hover {
        background-color: #222;
      }
      .quantity-container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .quantity-container input {
        width: 50px;
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: #f8f8f8; 
        cursor: not-allowed; 
      }
      .quantity-container input:focus {
        border-color: #000;
        outline: none;
      }
      .quantity-container button {
        font-weight: bold;
        border: none;
        background: transparent;
      }
      .remove-btn {
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 50%;
        background-color: red;
        color: white;
        border: none;
        transition: all 0.3s ease;
      }
      .remove-btn:hover {
        background-color: darkred;
        transform: scale(1.1);
      }
      .custom-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }
      .cart-empty {
        text-align: center;
        margin-top: 2rem;
        font-size: 1.5rem;
        color: #555;
        padding: 15rem 0;
      }
      .billing-section {
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 8px;
        background-color: white;
      }
      .payment-description {
        display: block;
        height: 0; 
        opacity: 0;
        overflow: hidden;
        padding: 0;
        transition: height 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
      }
      .no-border {
        border: none;
      }
      .p-3.p-lg-5.border.bg-white {
        border-radius: 8px;
      }
      .main_wrapper {
        padding: 7rem 0;
      }
      .container-wrapper {
        padding: 15rem 0;
      }
      .thankyou-icon {
        position: relative;
        display: inline-block;
        width: 50px; /* Smaller circular background */
        height: 50px;
        line-height: 70px;
        text-align: center;
        border-radius: 50%;
        background: rgb(203, 213, 209); 
      }
      .thankyou-icon i {
        position: absolute;
        top: 10px; 
        left: 60%;
        transform: translateX(-50%);
        color: #2e7d32; 
        font-size: 50px; 
      }

